body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  position: absolute;
  left: 475px;
  top: 80px;
  font-size: 40px;
}

h4 {
  text-align: left;
  padding: 0px;
  margin: auto;
}

h5 {
  padding: 0px;
  margin: auto;
}

footer {
  text-align: center;
  font-size: 12px;
}

li {
  list-style: none;
}

.container {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
  margin-top: 80px;
  border: solid 1.5px grey;
  border-radius: 15px;
}

.heading {
  left: 80px;
}

.current-location {
  border-radius: 6px;
  border-width: 1px;
  left: 485px;
  top: 90px;
}

.searching {
  top: 90px;
  left: 180px;
}

.additional-information {
  position: absolute;
  left: 435px;
  top: 170px;
  font-size: 10px;
}
